name: Release-it

on:
    workflow_dispatch:

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: "lts/*"
                  registry-url: "https://registry.npmjs.org/"

            - name: Install dependencies
              run: yarn install --frozen-lockfile

            - name: Initialize Git User
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

            - name: Build package
              run: yarn prepare

            - name: Create Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: npx release-it --ci
